.navbar {
  height: 80px;
  color: white;
  font-family: 'Kanit', sans-serif;
  
  .wrapper {
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .item {
    display: flex;
    align-items: center;
    font-size: 18px;
  }

  .item > img {
    height: 25px;
  }
  .left {
    display: flex;
    align-items: center;
    gap: 25px;
  }

  .center.logo {
    font-size: 30px;
    letter-spacing: 2px;
    font-family: 'Rubik Gemstones', cursive;
  }

  .right {
    display: flex;
    align-items: center;
    gap: 25px;
  }

  .icons {
    display: flex;
    gap: 25px;
    color: white;
    cursor: pointer;

    .cartIcon {
      position: relative;

      span {
        font-size: 12px;
        width: 17px;
        height: 17px;
        border-radius: 50%;
        background: #2879fe;
        color: white;
        position: absolute;
        top: -10px;
        right: -10px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
