* {
  background-color: black;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

.app .link {
  color: inherit;
  text-decoration: none;
}

.navbar {
  height: 80px;
  color: white;
  font-family: "Kanit", sans-serif;
}
.navbar .wrapper {
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .item {
  display: flex;
  align-items: center;
  font-size: 18px;
}
.navbar .item > img {
  height: 25px;
}
.navbar .left {
  display: flex;
  align-items: center;
  gap: 25px;
}
.navbar .center.logo {
  font-size: 30px;
  letter-spacing: 2px;
  font-family: "Rubik Gemstones", cursive;
}
.navbar .right {
  display: flex;
  align-items: center;
  gap: 25px;
}
.navbar .icons {
  display: flex;
  gap: 25px;
  color: white;
  cursor: pointer;
}
.navbar .icons .cartIcon {
  position: relative;
}
.navbar .icons .cartIcon span {
  font-size: 12px;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background: #2879fe;
  color: white;
  position: absolute;
  top: -10px;
  right: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  color: white;
  margin: 10vw 20vw 2vw 20vw;
}
.footer .top {
  display: flex;
  gap: 5vw;
}
.footer .top .item {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.2vw;
  text-align: justify;
  font-size: 1.1vw;
}
.footer .top .item h1 {
  font-size: 1.3vw;
  letter-spacing: 0.2vw;
  font-weight: 700;
  color: yellow;
}
.footer .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5vw;
}
.footer .bottom .left {
  display: flex;
  align-items: center;
}
.footer .bottom .left .logo {
  font-weight: bold;
  font-size: 1.5vw;
  color: yellow;
}
.footer .bottom .left .copyright {
  margin-left: 1vw;
  font-size: 1vw;
}
.footer .bottom .right img {
  height: 1.5vw;
}

.slider {
  height: calc(100vh - 80px);
  width: 100vw;
  overflow: hidden;
}
.slider .container {
  width: 300vw;
  display: flex;
  height: 88%;
  transition: all 1s ease;
}
.slider .container img {
  width: 100vw;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.slider .icons {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 3vw;
  margin-top: 7px;
}
.slider .icons .fa-regular.fa-arrow-left-long, .slider .icons .fa-regular.fa-arrow-right-long {
  font-size: 2.5vw;
  cursor: pointer;
  border: 2px solid white;
  padding: 2px 7px;
  border-radius: 10px;
}

.home {
  font-family: "Kanit", sans-serif;
}

.product {
  color: white;
  padding: 20px 50px;
  display: flex;
  gap: 20px;
  font-family: "Kanit", sans-serif;
}
.product .left {
  flex: 1;
  display: flex;
  gap: 20px;
}
.product .left .images {
  flex: 1;
}
.product .left .images img {
  width: 100%;
  height: 100px;
  cursor: pointer;
  margin-bottom: 10px;
}
.product .left .mainImg {
  flex: 5;
}
.product .left .mainImg img {
  width: 100%;
  max-height: 800px;
}
.product .right {
  color: white;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.product .right .price {
  font-size: 30px;
  color: yellow;
  font-weight: 500;
}
.product .right p {
  font-size: 18px;
  font-weight: 300;
  text-align: justify;
}
.product .right .quantity {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 25px;
}
.product .right .quantity button {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 2px solid yellow;
  font-size: 25px;
  border-radius: 5px;
  color: yellow;
}
.product .right .links {
  display: flex;
  gap: 20px;
}
.product .right .links .item {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  letter-spacing: 1.9px;
  color: red;
}
.product .right .add {
  letter-spacing: 3px;
  width: 250px;
  padding: 10px;
  background-color: yellow;
  color: black;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  gap: 20px;
  cursor: pointer;
  border-radius: 5px;
}
.product .right .add > i {
  background-color: yellow;
  font-weight: bold;
}
.product .right .info {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 14px;
  margin-top: 20px;
}
.product .right hr {
  width: 80%;
  text-align: left;
}

.products {
  color: white;
  padding: 30px 50px;
  display: flex;
  font-family: "Kanit", sans-serif;
}
.products .left {
  flex: 1;
  position: -webkit-sticky;
  position: sticky;
  height: 100%;
  top: 50px;
}
.products .left .filterItem {
  margin-bottom: 30px;
}
.products .left .filterItem h2 {
  font-weight: 400;
  margin-bottom: 20px;
}
.products .left .filterItem .inputItem {
  margin-bottom: 10px;
}
.products .left .filterItem .inputItem label {
  margin-left: 10px;
}
.products .right {
  flex: 3;
}
.products .right .categorieImg {
  width: 100%;
  height: 300px;
  margin-bottom: 50px;
}

.featuredProducts {
  color: white;
  margin: 5vw 10vw;
}
.featuredProducts .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5vw;
}
.featuredProducts .top h1 {
  flex: 2;
  text-transform: capitalize;
  color: yellow;
}
.featuredProducts .top p {
  flex: 3;
}
.featuredProducts .bottom {
  display: flex;
  justify-content: center;
  gap: 2.5vw;
}

.card {
  color: white;
  width: 17vw;
  display: flex;
  flex-direction: column;
  gap: 1vw;
  margin-bottom: 50px;
}
.card .img {
  width: 100%;
  height: 25vw;
  overflow: hidden;
  position: relative;
}
.card .img:hover .secondImg {
  z-index: 2;
}
.card .img img {
  width: 100%;
  height: 100%;
  position: absolute;
}
.card .img .mainImg {
  z-index: 1;
}
.card .img span {
  color: yellow;
  position: absolute;
  top: 5px;
  left: 7px;
  border: 2px solid yellow;
  border-radius: 5px;
  padding: 3px 5px;
  z-index: 3;
  font-size: 12px;
  font-weight: 500;
}
.card h2 {
  font-size: 18px;
  font-weight: 400;
}
.card .prices {
  display: flex;
  gap: 2vw;
}
.card .prices h3 {
  font-size: 18px;
  font-weight: 500;
}
.card .prices h3:first-child {
  color: yellow;
  text-decoration: line-through;
}

.categories {
  display: flex;
  height: 80vh;
  gap: 10px;
  margin: 10px;
}
.categories .col {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.categories .col-l {
  flex: 2;
}
.categories .row {
  flex: 1;
  display: flex;
  gap: 10px;
  position: relative;
  overflow: hidden;
}
.categories .row button {
  position: absolute;
  min-width: 100px;
  height: 30px;
  padding: 5px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  color: yellow;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  cursor: pointer;
  border: 2px solid yellow;
  border-radius: 7px;
  text-transform: uppercase;
  font-weight: 500;
}
.categories .row img {
  width: 100%;
  height: 100%;
}

.contact {
  background-color: yellow;
  padding: 10px;
  color: white;
  display: flex;
  justify-content: center;
  font-family: "La Belle Aurore", cursive;
}
.contact .wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: yellow;
}
.contact .wrapper .mail {
  border-radius: 5px;
  margin-right: 10vw;
  margin-left: 10px;
}
.contact .wrapper span {
  background-color: yellow;
  color: black;
  font-size: 35px;
}
.contact .wrapper input {
  padding: 11px;
  border: none;
  border-radius: 5px 0 0 5px;
  color: white;
  font-family: "La Belle Aurore", cursive;
}
.contact .wrapper ::-moz-placeholder {
  font-size: 20px;
}
.contact .wrapper :-ms-input-placeholder {
  font-size: 20px;
}
.contact .wrapper ::placeholder {
  font-size: 20px;
}
.contact .wrapper button {
  padding: 10px;
  color: black;
  background-color: yellow;
  border-radius: 0 5px 5px 0;
  border: 2px solid black;
  font-family: "La Belle Aurore", cursive;
  font-weight: bold;
  cursor: pointer;
}
.contact .wrapper .icons {
  display: flex;
  gap: 5px;
  background-color: yellow;
  align-items: center;
}
.contact .wrapper .icons .social {
  font-size: 35px;
  margin-right: 20px;
}

.list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cart {
  color: white;
  position: absolute;
  right: 20px;
  top: 80px;
  z-index: 10;
  padding: 20px;
  box-shadow: 0 0 7px 5px black;
}
.cart h1 {
  margin-bottom: 30px;
  color: yellow;
  font-weight: 400;
  font-size: 20px;
}
.cart .item {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}
.cart .item img {
  width: 80px;
  height: 100px;
}
.cart .item .details h1 {
  font-size: 18px;
  font-weight: 500;
}
.cart .item .details p {
  margin-bottom: 10px;
  font-size: 14px;
}
.cart .item .details .price {
  color: yellow;
}
.cart .item i {
  color: red;
  font-size: 27px;
  cursor: pointer;
}
.cart .total {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 20px;
}
.cart button {
  letter-spacing: 3px;
  width: 100%;
  padding: 10px;
  background-color: yellow;
  color: black;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  gap: 20px;
  cursor: pointer;
  border-radius: 5px;
}
.cart .reset {
  color: red;
  font-size: 12px;
  cursor: pointer;
}/*# sourceMappingURL=index.css.map */